@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Bold Italic'), local('./fonts/FSAlbertPro-BoldItalic'),
        url('./fonts/FSAlbertPro-BoldItalic.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Thin'), local('./fonts/FSAlbertPro-Thin'),
        url('./fonts/FSAlbertPro-Thin.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro'), local('./fonts/FSAlbertPro'),
        url('./fonts/FSAlbertPro.woff2') format('woff2'),
        url('./fonts/FSAlbertPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Light'), local('./fonts/FSAlbertPro-Light'),
        url('./fonts/FSAlbertPro-Light.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Bold'), local('./fonts/FSAlbertPro-Bold'),
        url('./fonts/FSAlbertPro-Bold.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Thin Italic'), local('./fonts/FSAlbertPro-ThinItalic'),
        url('./fonts/FSAlbertPro-ThinItalic.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Italic'), local('./fonts/FSAlbertPro-Italic'),
        url('./fonts/FSAlbertPro-Italic.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro ExtraBold'), local('./fonts/FSAlbertPro-ExtraBold'),
        url('./fonts/FSAlbertPro-ExtraBold.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: local('FS Albert Pro Light Italic'), local('./fonts/FSAlbertPro-LightItalic'),
        url('./fonts/FSAlbertPro-LightItalic.woff2') format('woff2'),
        url('./fonts/FSAlbertPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

